@page "/takeaway"
@inject ITakeawayService takeawayService

<h1>Takeaway</h1>

@if (string.IsNullOrEmpty(choice))
{
    <p>Doing super maths...</p>
}
else
{
    <p>It's time for <b>@choice</b></p>
    <a href="">Sweet, thanks! Go back.</a>
}

@code {
    private string choice = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var takeaways = await takeawayService.GetTakeaways();
        var random = new Random();
        int index = random.Next(takeaways.Count);
        choice = takeaways[index].Name;
    }
}
