@page "/takeaway"

<h1>Takeaway</h1>

<p>It's time for @choice</p>

@code {
    private string choice = string.Empty;
    private string[] takeaways = new string[]
    {
        "pho ever",
        "maccas",
        "BK",
        "Hong's",
        "noodle canteen"
    };

    protected override async Task OnInitializedAsync()
    {
        var random = new Random();
        int index = random.Next(takeaways.Length);
        choice = takeaways[index];
    }
}
