@page "/takeaway"
@inject HttpClient Http
@inject IFileService fileService

<h1>Takeaway</h1>

<p>It's time for <b>@choice</b></p>
<a href="">Sweet, thanks! Go back.</a>

@code {
        private string choice = string.Empty;

        protected override async Task OnInitializedAsync()
        {
            var takeaways = await Http.GetFromJsonAsync<List<Restaurant>>("sample-data/takeaways.json");
            var random = new Random();
            int index = random.Next(takeaways.Count);
            choice = takeaways[index].Name;
            fileService.WriteToFile("test");
        }

        private class Restaurant
        {
            public string Name { get; set; }
        }
}
